* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.album {
  display: flex;
  aspect-ratio: 16/9;
  max-width: 90%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 10px;
}

.album img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  max-width: 100%;
}

.album-nav {
  display: flex;
  justify-content: left;
  overflow-x: auto;
  border: 5px solid rgba(236, 240, 22, 0);
  margin: auto;
  max-width: 550px;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.barra {
  width: 60%;
  background-color: rgba(55, 255, 255, 0.25);
  border-radius: 0.5rem;
}

.flecha {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  margin: 0 5px;
  transition: all 0.3s;
}

.flecha:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.Celda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual {
  background-position: center;
  width: 100px;
  height: 50px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.slick-slide {
  width: 20%;
}

.slick-slide > div {
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
