:root {
  --color-pagina1: rgb(54, 148, 202, 0.25);
}

.home-page {
  background-image: url(https://res.cloudinary.com/dchhrtqvv/image/upload/v1761494057/wabe2.svg);
  background-size: cover;
  font-family: "Nunito Sans", sans-serif;

  #root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .HomeMain {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
  }

  #Titulo {
    font-size: xx-large;
  }
}
