.menu {
  background-color: rgb(54, 148, 202, 0.25);
  padding: 0;
  color: #2a2a2a;
  font-family: "Quicksand", sans-serif;
}

.menu div {
  background-color: rgb(54, 148, 202, 0.25);
  padding: 10px;
  cursor: pointer;
}

.menu div:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul a {
  text-decoration: none;
  color: #2a2a2a;
}

.menu ul :hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.menu li {
  margin-bottom: 0;
  padding: 5px;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #2a2a2a;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}
