.delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  border-color: red;
  border-radius: 10%;
  padding: 10px;
  transition: all 0s ease;
}

.delete:hover {
  background-color: red;
}

.delete p {
  margin-left: 10px;
  margin-bottom: 0;
}
