:root {
  --color-pagina1: rgb(54, 148, 202, 0.25);
  --color-negro-opaco: rgb(3, 3, 3, 0.5);
}

.contenedor {
  background-color: var(--color-pagina1);
  width: auto;
  height: 32em;
  border: 1px solid var(--color-negro-opaco);
  margin: 15px 100px 15px 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 0.75rem;
  box-shadow: rgba(243, 243, 245, 0.15) 0px 4px 16px 0px;
}

.contenedor article {
  display: flex;
  justify-content: center;
  width: 20%;
}

.contenedor article a {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.juego {
  text-decoration: none;
  width: 70%;
  height: 250px;
  margin: 4px 2px;
  color: rgba(255, 255, 255, 0);
  font-size: x-large;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  background-color: var(--color-pagina1);
  border: none;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.imgJuego {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  position: absolute;
  transition: all 1s linear;
}

.border {
  position: absolute;
  background: none;
  transition: all 0.5s ease-in-out;
}

.juego:hover {
  color: black;
  width: 75%;
  height: 260px;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  &:after {
    left: 150%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.juego:hover > img {
  opacity: 0;
}

.juego .border {
  z-index: 0;
  background: rgba(255, 255, 255, 0.1);
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
}

.juego > .border:nth-of-type(1) {
  top: -50px;
  left: -50px;
}

.juego > .border:nth-of-type(2) {
  top: -50px;
  right: -50px;
}

.juego > .border:nth-of-type(3) {
  bottom: -50px;
  left: -50px;
}

.juego > .border:nth-of-type(4) {
  bottom: -50px;
  right: -50px;
}

.juego:hover .border {
  transform: scale(15.7) rotate(45deg);
}

.juego:hover button {
  color: white;
  transition: color 2s ease;
}
