:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color-texto-ligt: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-texto: #2a2a2a;
}

#root {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
}

h1,
h2,
h3,
a,
p,
li {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: var(--color-texto);
}

input,
textarea {
  background-color: var(--color-texto-ligt);
  color: var(--color-texto);
}

ul,
ol {
  list-style: none;
}
