<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indie Game Reviews</title>
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dchhrtqvv/image/upload/v1761494063/logoPeque%C3%B1o_zauw5t.png" />
    <link rel="stylesheet" href="/public/css/pagJuego.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
        defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="logo">
            <a href="http://localhost:4000/IndieGameReviews">
                <img src="https://res.cloudinary.com/dchhrtqvv/image/upload/v1761494069/logo_gaakp2.png"
                    alt="logo_del_sitio">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="http://localhost:4000/IndieGameReviews">Inicio</a></li>
                <li><a href="http://localhost:4000/Informacion/SobreNosotros">Quienes somos</a></li>
                <li><a href="http://localhost:4000/Informacion/Contactanos">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main>
            <div class="mainContent">
                <article class="encabezado" id="encabezado">

                </article>
                <article class="section1">
                    <article class="section1-1" id="section1-1">
                        <div class="album" id="sliderPrincipal">

                        </div>
                        <div
                            class="barra swiffy-slider slider-nav-visible slider-nav-outside slider-item-ratio slider-item-ratio-21x1">
                            <ul class="slider-container slider-item-show4" id="selctor">

                            </ul>
                            <button type="button" class="flecha slider-nav"></button>
                            <button type="button" class="flecha slider-nav slider-nav-next"></button>
                        </div>
                    </article>
                    <article class="section1-2" id="section1-2">

                    </article>
                </article>
                <article class="section2" id="section2">
                    <p>Donde comprar: </p>
                </article>
                <article>
                    <section>
                        <form class="comBox">
                            <label for="comentarios">
                                <h2 class="opinio">Dejanos Tu Opinion sobre este Videojuego</h2>
                            </label>
                            <textarea id="comentario" name="comentario" placeholder="Escribe tu opinion..."></textarea>
                            <button type="submit" id="enviar">Enviar</button>
                        </form>
                    </section>
                    <section id="todasOpiniones">
                        <h2>Lo que Piensan nuestros Usuarios</h2>
                        <section class="opinionesUsuarios">
                            <section class="usuario">
                                <div id="icono">
                                    <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png"
                                        alt="icono de Usuario" />
                                </div>
                                <h3 id="nombreUsuario">PabloXD345</h3>
                            </section>
                            <p>Gran Juego 10/10 super recomendadisimo, Alta experiencia jugabilidad 10/10 historai 10/10
                                graficos 10/10(Lo mas importante) mejor que GTA6 </p>
                        </section>
                    </section>
                </article>
            </div>
        </main>
        <footer>
            <p>Autores: Tobias Ignacio Funes - Ugarte Cuevas Jorge Luis - Pelozo Danilo Agustin</p>
        </footer>
    </div>
    <script defer>
        const data = '<%- JSON.stringify(gameData) %>';
        window.gameData = data;
    </script>
    <script defer type="module" src="/public/js/pagJuego.js"></script>
</body>

</html>