<!DOCTYPE html>
<html>
<!--Comentario -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indie Game Reviews</title>
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dchhrtqvv/image/upload/v1761494063/logoPeque%C3%B1o_zauw5t.png" />
    <link rel="stylesheet" href="/public/css/StayMain.css" />
    <script defer type="module" src="/public/js/principal.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="http://localhost:4000/IndieGameReviews">
                <img src="https://res.cloudinary.com/dchhrtqvv/image/upload/v1761494069/logo_gaakp2.png"
                    alt="logo_del_sitio">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="http://localhost:4000/IndieGameReviews">Inicio</a></li>
                <li><a href="http://localhost:4000/Informacion/SobreNosotros">Quienes somos</a></li>
                <li><a href="http://localhost:4000/Informacion/Contactanos">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <aside class="menu" id="menu">
                <div>Categorias</div>
                <ul class="desplegable" id="desplegable">
                    
                </ul>
            </aside>
        </section>
        <section>
            <h1 id="Titulo">Nuestras Reseñas</h1>

            <div id="box">

            </div>
            <div id="celdaBotones">

            </div>
        </section>
    </main>
    <footer>
        <p>Autores: Tobias Ignacio Funes - Ugarte Cuevas Jorge Luis - Pelozo Danilo Agustin</p>
    </footer>
</body>

</html>