:root {
  --color-boton: rgb(54, 148, 202, 0.7);
  --color-contenedor: rgb(54, 148, 202, 0.25);
  --color-pagina1: rgb(54, 148, 202, 0.25);
}

.registrarBody {
  background-image: url(https://res.cloudinary.com/dchhrtqvv/image/upload/v1761494057/wabe2.svg);
  background-size: cover;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin-bottom: 5px;
  }

  .contenedor {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-contenedor);
    border-radius: 5%;
    padding: 30px;
  }

  #formulario {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  input {
    margin-bottom: 10px;
  }

  .titulo {
    font-weight: 700;
    font-size: xx-large;
  }

  .enviar {
    border: none;
    background-color: var(--color-boton);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
