.usuario {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}

.usuario h3 {
  margin: 0;
  margin-left: 10px;
}

#icono {
  display: flex;
  flex-direction: row;
  max-width: 50px;
  max-height: 50px;
}

#icono img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
